@use './mixins';

:root {
	--main-font-family: 'Inter', sans-serif;
	--title-font-family: 'Roboto', sans-serif;
	--main-font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
	--title-font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
	--page-background: #ffffff;
	--button-background: #23272f;
	--text-color: #000000;
	--logo-color: #58c4dc;
	--transition: 0.2s ease;
}

html,
body,
#root {
	block-size: 100%;
	min-block-size: 100vh;

	@include mixins.font-settings(
		var(--main-font-size),
		400,
		var(--main-font-family)
	);
	@include mixins.box-type(flex, null, null, null, column, null);
	@include mixins.container(null, null, null);
}

body {
	color: var(--text-color);
	background: var(--page-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include mixins.font-settings(
		var(--title-font-size),
		600,
		var(--title-font-family)
	);
}

.container {
	@include mixins.container(320px, 1440px, 10px);
}

.main {
	flex: 1 1 auto;
}

.section {
	@include mixins.box-type(flex, null, null, null, column, 20px);

	&__title {
		text-align: center;
		text-transform: uppercase;
	}
}
